/*
** TABLET STYLESHEET
/*************************/

@media (min-width: 40rem){

	  /*
  ** 05 -- Hompage: Hero
  */
  .subpage .container {
  padding:0 2rem;
  }
  .hero {
    height: 450px;
  }
  .hero h2 {
    font-size: 2rem;
    font-family: 'Rubik', Arial, sans-serif;
    font-weight: 500;
    line-height: 1.3;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
    color: white;
  }
  .hero-container > .flex-container {
    margin: 2rem 0 3rem 0; 
    height: 200px;
    flex-direction: row;
    justify-content: center;
  }
  .hero .flex-item {
    margin: 0;
    /*width: 30%*/
  }
 .flex-item.lock-image {
  	display: none;
	}
  img.full-lock {
  	/*width: 200px; */
  	margin-bottom: 20px;
  }
  .mobile-lock-image{
  	position: relative;
  	padding-left: 2%;
  	margin-bottom: 20px;
  }
  .flex-item.hero-text-left {
    text-align: right;
    display: inline-block;
    margin-right:1.3rem;
    width: 42%;
  }
  .flex-item.hero-text-right {
    text-align: left;
    display: inline-block;
    margin-left:.5rem;
    width: 40%;
  }
  .hidden-on-large {
    display: none;
  }
  .lock-image {
	 position: relative;
	 max-width: 100%;
	 width: 190px;
  }

	section.HomepageWhatIsLocksport {
	  background-position: -20% 145%;
	  background-repeat: no-repeat;
	  height: 380px;
	  background-size:500px;
	}
	section.HomepageLocksportOptions {
  position: relative;
  top:0;
}
section.HomepageLocksportOptions .flex-container {
    -webkit-align-items: stretch;
  align-items: stretch;
    -webkit-justify-content: space-around;
  justify-content: space-around;
  margin:2rem 0 3rem 0;
  height:100%;
  flex-direction: column;
  

}
section.HomepageLocksportOptions .flex-item {
  /*border: 2px solid rgba(255,255,255,.9);*/
  width: 98%;
  height:auto;
  transition: all .6s ease;
  margin-bottom: 2rem;
  padding: 1rem;
}

section.HomepageLocksportOptions .flex-item img {
  width:40%;
  float:right;
}
section.HomepageLocksportOptions .flex-item p {
  padding: 0;
  float: left;
  display: inline-block;
  width: 59%;
  margin-bottom: 1.5rem;
}
section.HomepageLocksportOptions h3 {
  padding: 0 1.1rem 0 0;
  float:left;
  width: 41%;
  margin-bottom: 1rem;
}
section.HomepageLocksportOptions button,
.sticky-card button {
  /*background-color: #f7f7f7;*/
  width: 100%;
  margin:0;
}
section.HomepageLocksportOptions .flex-item:hover {
  box-shadow: 0px 0px 32px 7px rgba(25, 33, 78, .8);
  background-color: #fff;
  cursor: pointer;
}

section.HomepageLocksportOptions .flex-item:hover .overlay {
 background: linear-gradient(to top, rgba(0,0,0,.8), rgba(0,0,0,.4))
}

section.HomepagePlanAnEvent .flex-container .flex-item img{
	display: none;
}
footer ul {
    position: relative;
  }
  footer ul li {
    display: inline-block;
    margin-right: 2rem;
    float: left;
    position: relative;
  }
  footer li a {
    color: #fff;
    font-family: 'Inconsolata', Consolas, monospace;
    font-size: 1.25rem;
    letter-spacing: 0.063rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
    position: relative;
  }
  footer .container div.footer-nav-button{
    float: right;
  }
  footer .container div.footer-nav-button button a{
    font-size: 1.125rem;
  }
  footer div.footer-details {
    border-top:1px solid rgba(255,255,255,.1);
  }
  footer div.footer-details .container {
    padding: 1.5rem 1rem;
  }

  footer div.footer-details .footer-details-left {
    float: left;
  }
  footer div.footer-details .footer-details-right {
    float: right;
  }
  footer div.footer-details p {
    font-family: 'Rubik', Arial, sans-serif;
    color: rgb(177, 192, 226);
    display: inline-block;
    font-size: .875rem;
    padding-right: 1rem;
    font-weight:400;
  }
  footer div.footer-details p.copyright ,
  footer div.footer-details p.copyright a {
    margin-top: .25rem;
    font-size: .75rem;
  }
  footer div.footer-details p a {
    box-shadow: none;
    color: #fff;
    transition: all .2s ease;
  }
  footer div.footer-details p a:hover {
    color: rgb(177, 192, 226);  
  }
  footer .fa-twitter {
    color: #fff;
    font-size: 1.875rem;
    transition: all .5s ease;
  }
  footer .fa-twitter:hover {
    transform: rotate(360deg);
    color: rgb(177, 192, 226);
  }



}